html, body {
	width:  100%;
	height: 100%;
}
 
#status {
	position: absolute;
	top: 30px;
	margin: 10px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Helvetica, Verdana, sans-serif;
}
 

select {
	font-size: medium;
	font-family: monospace;
}
 
* {
	margin:0;
	padding:0;
}

#chalkboard {
	position: relative;
	background: #DFC5A8 url(../images/wood.jpg) repeat;
	/*border: 3px solid #C19768;*/
	overflow: hidden;
	width: 1066px;
	height: 472px;

	-webkit-box-shadow: inset 0 0 5px 5px rgba(89,64,36, 0.7);
	-moz-box-shadow:	inset 0 0 5px 5px rgba(89,64,36, 0.7);
	box-shadow:			inset 0 0 5px 5px rgba(89,64,36, 0.7);
	border-radius: 3px;
}
#controls {
	padding: 5px 10px;
	width: 100%;
	height: 20px;
}

#tools {
	position: relative;
	float: left;
	clear: none;
	width: 215px;
	height: 100%;
}
#tools #colour {
	display: none;
}
#tools #colourpicker {
	position: absolute;
	bottom: 30px;
	margin: 10px;
	border-radius: 40px;
	background: black;
}


#board {
	height: 100%;
	position: absolute;
	clear: none;
	width: 800px;
	height: 400px;
	top: 25px;
	right: 0;
	-webkit-box-shadow: 0 0 5px 5px rgba(89,64,36, 0.7);
	-moz-box-shadow:	0 0 5px 5px rgba(89,64,36, 0.7);
	box-shadow:			0 0 5px 5px rgba(89,64,36, 0.7);

	/*background: #FCFAED;*/
	background: #1E1F22;
}


#canvas,
#tmp_canvas {
	position: absolute;
	height: 100%;
	width: 100%;
}

#tmp_canvas,
#tmp_canvas:hover
#tmp_canvas:active {
	cursor: crosshair;
	cursor: url(../images/cursor-hover.png) 6 6,default;
}
#tmp_canvas.clicking,
#tmp_canvas:active {
	cursor: url(../images/cursor-drag.png) 6 6,default!important;
}


#status {
	right: 0;
	left: auto;
}



